.botoes-tamanho-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0;
}

.btn-tamanho {
  background-color: #0a2a08;
  border: 1px solid white;
  color: white;
  flex: 1;
  height: 40px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.btn-tamanho.bg-white {
  color: #0a2a08 !important;
}

.btn-tamanho:hover {
  background-color: white;
  color: #0a2a08 !important;
}

.btn-add-carrinho {
  width: 100%;
  height: 45px;
}

.swal2-confirm.btn-white {
  background-color: white !important;
  color: #0a2a08 !important;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.swal2-confirm.swal-btn-custom {
  background-color: #0a2a08 !important;
  color: white !important;
  border: 1px solid white !important;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: none !important;
}

.swal2-confirm.swal-btn-custom:hover {
  background-color: white !important;
  color: #0a2a08 !important;
}
