<section class="py-5 text-white" style="background-color: #0A2A08; min-height: 60vh;">
  <div class="container px-4 px-lg-5">

    <h2 class="text-center mb-4 text-white">Meu Carrinho</h2>

    <div *ngIf="(itens$ | async) as itens; else carrinhoVazio">

      <div *ngIf="itens.length > 0; else carrinhoVazio">

        <div class="table-responsive">
          <table class="table table-dark table-striped align-middle">
            <thead>
              <tr>
                <th scope="col" style="width: 15%;">Produto</th>
                <th scope="col" style="width: 35%;"></th>
                <th scope="col">Preço</th>
                <th scope="col">Tamanho</th>
                <th scope="col">Qtd.</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of itens">
                <td>
                  <img [src]="item.produto.imagemUrl" [alt]="item.produto.nome" class="img-fluid" style="max-width: 75px; background-color: #fff; border-radius: 4px;"> </td>
                <td>{{ item.produto.nome }}</td>
                <td>{{ item.produto.preco | currency:'BRL' }}</td>
                <td>{{ item.tamanho | uppercase }}</td>
                <td>{{ item.quantidade }}</td>
                <td>{{ (item.produto.preco * item.quantidade) | currency:'BRL' }}</td>
                <td>
                  <button class="btn btn-sm btn-outline-danger"
                          (click)="removerDoCarrinho(item.produto.id, item.tamanho)">
                    Remover
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="d-flex justify-content-end mt-4">
          <div class="text-end">
            <h3 class="mb-3">Total: <span class="fw-bold text-success">{{ total | currency:'BRL' }}</span></h3>
            <a routerLink="/finalizar-compra" class="btn btn-primary btn-lg w-100 mt-3">
             Finalizar Compra
            </a>
          </div>
        </div>

      </div>
    </div>

    <ng-template #carrinhoVazio>
      <br>
      <div class="alert alert-light text-center text-dark" role="alert"> Seu carrinho está vazio. Volte para a <a routerLink="/camisas/brasileirao" class="alert-link">loja</a>!
      </div>
    </ng-template>

  </div>
</section>
