html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0A2A08;
}

main {
  flex-grow: 1;
}

app-footer {
  background-color: #000;
}
